.ctn {
  display: inline;
  text-align: center;

  font-size: 1.5rem;

  &__header {
    &__title {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__items {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
